<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Tableau Clone - Blank Start</title>
        <script src="https://unpkg.com/htmx.org@2.0.4">
</script>
        <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.22/dist/full.min.css"
              rel="stylesheet"
              type="text/css" />
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/@catppuccin/daisyui@1.2.1/dist/catppuccin.css" />
        <script src="https://cdn.tailwindcss.com">
</script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.30.4/cytoscape.min.js" integrity="sha512-xpXUCbrkyJCwC5noJXZqec9rSXdRgFfDoL7Q9/pCPe54Y04OlqwPobMcNuA5NPJ7DRR51OIr6xcOH2wUspyKDQ==" crossorigin="anonymous" referrerpolicy="no-referrer">
        
</script>
        <script src="/static/js/graph.js" defer>
</script>
        <script>
document.addEventListener("htmx:afterSwap", async (event) => {
  // Wait for the chart to be added to the DOM
  const chartWrapper = document.querySelector("#plotly_generated_div");
  if (chartWrapper) {
    // Trigger Plotly's resize logic
    Plotly.Plots.resize(chartWrapper);

    // Re-render the plot to reset interactive elements
    // const plotData = chartWrapper.data; // Assuming `data` contains the plot's original data
    // const layout = chartWrapper.layout; // Capture the layout
    // const config = chartWrapper.config; // Capture the configuration
    //
    // Plotly.react(chartWrapper, plotData, layout, config);
  }
});
        </script>
    </head>
    <body class="h-screen w-screen overflow-hidden" data-theme="mocha">
        <div id="screen" class="flex h-[100vh] flex-row">
            <div id="sidebar"
                 class="h-full w-[8vw] border-2 border-t-transparent border-l-transparent border-b-transparent border-r-base-300 p-0">
                <div id="app-title"
                     class="mb-4 text-center content-center text-lg font-bold">
                    <span class="select-none align-middle">MyDAT</span>
                </div>
                <div class="tooltip tooltip-right w-full"
                     data-tip="Dataflow"
                     hx-get="/pages/dataflow"
                     hx-target="#page-contents"
                     hx-swap="innerHTML"
                     hx-on--after-request="document.getElementById('drawer-overlay').click()">
                    <label class="btn btn-ghost w-full">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 24 24"
                             fill="none"
                             stroke="currentColor"
                             stroke-linecap="round"
                             stroke-linejoin="round"
                             width="24"
                             height="24"
                             stroke-width="2">
                            <path d="M5.931 6.936l1.275 4.249m5.607 5.609l4.251 1.275"></path>
                            <path d="M11.683 12.317l5.759 -5.759"></path>
                            <path d="M5.5 5.5m-1.5 0a1.5 1.5 0 1 0 3 0a1.5 1.5 0 1 0 -3 0"></path>
                            <path d="M18.5 5.5m-1.5 0a1.5 1.5 0 1 0 3 0a1.5 1.5 0 1 0 -3 0"></path>
                            <path d="M18.5 18.5m-1.5 0a1.5 1.5 0 1 0 3 0a1.5 1.5 0 1 0 -3 0"></path>
                            <path d="M8.5 15.5m-4.5 0a4.5 4.5 0 1 0 9 0a4.5 4.5 0 1 0 -9 0"></path>
                        </svg>
                    </label>
                </div>
                <div class="divider mx-auto my-1 w-4/5"></div>
                {% block sidebar_chart_list %}
                    <div id="sidebar-charts-list" hx-swap-oob="outerHTML">
                        {% for chart in charts %}
                            <div class="tooltip tooltip-right w-full" data-tip={{ chart[1].name }} hx-get="pages/chart?chart_id={{ chart[0] }}" hx-target="#page-contents" hx-swap="innerHTML" hx-on--after-request="document.getElementById('drawer-overlay').click()">
                                <label class="btn btn-ghost w-full">
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                         viewBox="0 0 24 24"
                                         fill="none"
                                         stroke="currentColor"
                                         stroke-linecap="round"
                                         stroke-linejoin="round"
                                         width="24"
                                         height="24"
                                         stroke-width="2">
                                        <path d="M3 13a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v6a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z"></path>
                                        <path d="M15 9a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v10a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z"></path>
                                        <path d="M9 5a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v14a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z"></path>
                                        <path d="M4 20h14"></path>
                                    </svg>
                                    <span class="absolute bottom-2 right-4 m-0 flex h-3 w-3 items-center justify-center rounded-full bg-base-100 p-0 text-xs font-bold">{{ loop.index }}</span>
                                </label>
                            </div>
                        {% endfor %}
                    </div>
                {% endblock %}
            </div>
            <div id="page-contents" class="h-full w-[92vw] px-4 text-base">{% include 'page_dataflow.jinja' %}</div>
        </div>
        <!-- You can open the modal using ID.showModal() method -->
        <dialog id="modal_new_chart" class="modal">
            <div class="modal-box w-11/12 max-w-7xl h-4/5">
                <h3 class="text-lg font-bold">New Chart</h3>
                <p class="py-4">Click the button below to close</p>
                <form method="dialog">
                    <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
                </form>
                <form id="new_chart_form"
                      name="new_chart_form"
                      hx-post="/charts/create"
                      hx-target="#page-contents"
                      hx-swap="innerHTML"
                      hx-swap-oob="outerHTML"
                      hx-on--after-request="document.getElementById('modal_new_chart').close();">
                    <div class="form-control flex flex-row flex-wrap space-x-1">
                        {% for chart_kind in chart_kinds %}
                            <input type="radio"
                                   id="chart_rb_{{ chart_kind.name }}"
                                   class="peer/{{ chart_kind.name }} radio hidden"
                                   name="chart_selection_radio"
                                   value="{{ chart_kind.name }}" />
                            <label class="label join join-vertical w-full basis-1/6 cursor-pointer border-2 border-transparent bg-slate-900 p-0 peer-checked/{{ chart_kind.name }}:border-slate-50"
                                   for="chart_rb_{{ chart_kind.name }}">
                                <img class="join-item"
                                     src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp" />
                                <div class="join-item h-full p-2 pb-2">
                                    <h2 class="card-title pb-1">{{ chart_kind.name }}</h2>
                                    <p class="label-text">{{ chart_kind.description }}</p>
                                </div>
                            </label>
                        {% endfor %}
                    </div>
                    <div class="flex space-x-1 absolute left-0 bottom-0 p-10 align-middle">
                        <label class="form-control inline align-middle">
                            <div class="label">
                                <span class="label-text">Choose input table</span>
                            </div>
                            <select id="chart-src-selector"
                                    name="chart_src_selector"
                                    class="select select-bordered">
                                <option disabled selected></option>
                                {% for fd in files %}<option value="{{ fd[0] }}">{{ fd[1].name }}</option>{% endfor %}
                            </select>
                        </label>
                        <button class="btn inline align-middle">Create</button>
                    </div>
                </form>
            </div>
        </dialog>
    </body>
</html>
