<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tableau Clone - Blank Start</title>
    <script src="https://unpkg.com/htmx.org">
</script>
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@4.12.22/dist/full.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://cdn.tailwindcss.com">
</script>
    <script
      src="https://cdn.plot.ly/plotly-2.35.2.min.js"
      charset="utf-8"
    >
</script>
  </head>
  <body class="dark h-screen w-screen">
    <div id="navbar" class="h-[5vh] navbar">
      <div id="navbar-icon" class="flex-none">
        <button class="btn btn-square btn-ghost">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            class="inline-block h-5 w-5 stroke-current"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"
            ></path>
          </svg>
        </button>
      </div>
      <div class="flex-1">
        <a id="app-title" class="btn btn-ghost text-xl">daisyUI</a>
        <div
          id="main-tablist"
          role="tablist"
          class="tabs tabs-bordered text-xl"
        >
          <a role="tab" class="tab">Files</a>
          <a role="tab" class="tab">Types</a>
          <a role="tab" class="tab">Relationships</a>
          <a role="tab" class="tab tab-active">Charts</a>
        </div>
      </div>
    </div>

    <div id="tab-contents" class="h-[95vh]">
      <div
        id="chart-tablist"
        role="tablist"
        class="tabs tabs-lifted w-auto text-lg pb-1"
      >
        <a role="tab" class="tab tab-active">Chart 1</a>
        <a role="tab" class="tab">Chart 2</a>
        <a role="tab" class="tab">+</a>
      </div>
      <div id="chart-contents">
        <div>CONTENT</div>
      </div>
      <!--   <h2 class="text-xl">Welcome, {{ username }}!</h2> -->
      <!--   <p>Your application starts here. Add your content and features.</p> -->
      <!--   <form -->
      <!--     id="form" -->
      <!--     hx-encoding="multipart/form-data" -->
      <!--     hx-post="/upload" -->
      <!--     hx-swap="none" -->
      <!--   > -->
      <!--     <input -->
      <!--       type="file" -->
      <!--       name="file" -->
      <!--       class="file-input file-input-bordered w-full max-w-xs" -->
      <!--     /> -->
      <!--     <button class="btn">Upload</button> -->
      <!--     <progress -->
      <!--       id="progress" -->
      <!--       class="progress progress-primary w-56" -->
      <!--       value="0" -->
      <!--       max="100" -->
      <!--     ></progress> -->
      <!--   </form> -->
      <!--   <script> -->
      <!--     htmx.on("#form", "htmx:xhr:progress", function (evt) { -->
      <!--       htmx -->
      <!--         .find("#progress") -->
      <!--         .setAttribute("value", (evt.detail.loaded / evt.detail.total) * 100); -->
      <!--     }); -->
      <!--   </script> -->
    </div>
  </body>
</html>
