<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Tableau Clone - Blank Start</title>
        <script src="https://unpkg.com/htmx.org@2.0.4">
</script>
        <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.22/dist/full.min.css"
              rel="stylesheet"
              type="text/css" />
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/@catppuccin/daisyui@1.2.1/dist/catppuccin.css" />
        <script src="https://cdn.tailwindcss.com">
</script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.30.4/cytoscape.min.js" integrity="sha512-xpXUCbrkyJCwC5noJXZqec9rSXdRgFfDoL7Q9/pCPe54Y04OlqwPobMcNuA5NPJ7DRR51OIr6xcOH2wUspyKDQ==" crossorigin="anonymous" referrerpolicy="no-referrer">
        
</script>
        <script src="/static/js/graph.js" defer>
</script>
    </head>
    <body class="h-screen w-screen" data-theme="mocha">
        <div id="drawer-container" class="drawer">
            <!-- Hidden controller for drawer visibility -->
            <input id="sidebar-controller" type="checkbox" class="drawer-toggle" />
            <!-- ^^^ Hidden controller for drawer visibility ^^^ -->
            <div id="page-container" class="drawer-content h-[100vh]">
                <!-- Page content here -->
                <div id="header" class="flex flex-row content-center h-[5vh]">
                    <label for="sidebar-controller" class="btn btn-ghost drawer-button">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             fill="none"
                             viewBox="0 0 24 24"
                             class="inline-block h-5 w-5 stroke-current">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
                        </svg>
                    </label>
                    <div id="app-title" class="text-xl font-medium content-center">
                        <span class="align-middle inline-block text-ctp-pink">MyDAT</span>
                    </div>
                </div>
                <div id="page-contents" class="h-[95vh] p-2 px-4 pt-4 text-base">{% include 'page_dataflow.jinja' %}</div>
            </div>
            <div id="drawer" class="drawer-side">
                <label id="drawer-overlay"
                       for="sidebar-controller"
                       aria-label="close sidebar"
                       class="drawer-overlay cursor-default"></label>
                <ul id="drawer-contents"
                    class="menu bg-base-300 min-h-full min-w-[10vw] p-4">
                    <li id="sidebar-title" class="text-xl font-medium pb-6">MyDAT</li>
                    <li class="font-semibold pb-2">Data Flow</li>
                    <li>
                        <a hx-get="/pages/dataflow"
                           hx-target="#page-contents"
                           hx-swap="innerHTML"
                           hx-on--after-request="document.getElementById('drawer-overlay').click()">Data Flow</a>
                    </li>
                    <div class="divider divider-neutral"></div>
                    <li class="font-medium pb-2">Charts</li>
                    {% block sidebar_chart_list %}
                        <div id="sidebar-charts-list" hx-swap-oob="outerHTML">
                            {% for chart in charts %}
                                <li>
                                    <a hx-get="pages/chart?chart_id={{ chart[0] }}"
                                       hx-target="#page-contents"
                                       hx-swap="innerHTML"
                                       hx-on--after-request="document.getElementById('drawer-overlay').click()">{{ chart[1].name }}</a>
                                </li>
                            {% endfor %}
                        </div>
                    {% endblock %}
                </ul>
            </div>
        </div>
        <!-- You can open the modal using ID.showModal() method -->
        <dialog id="modal_new_chart" class="modal">
            <div class="modal-box w-11/12 max-w-7xl h-4/5">
                <h3 class="text-lg font-bold">New Chart</h3>
                <p class="py-4">Click the button below to close</p>
                <form method="dialog">
                    <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
                </form>
                <form id="new_chart_form"
                      name="new_chart_form"
                      hx-post="/charts/create"
                      hx-target="#page-contents"
                      hx-swap="innerHTML"
                      hx-swap-oob="outerHTML"
                      hx-on--after-request="document.getElementById('modal_new_chart').close();">
                    <div class="form-control flex flex-row flex-wrap space-x-1">
                        {% for chart_kind in chart_kinds %}
                            <input type="radio"
                                   id="chart_rb_{{ chart_kind.name }}"
                                   class="peer/{{ chart_kind.name }} radio hidden"
                                   name="chart_selection_radio"
                                   value="{{ chart_kind.name }}" />
                            <label class="label join join-vertical w-full basis-1/6 cursor-pointer border-2 border-transparent bg-slate-900 p-0 peer-checked/{{ chart_kind.name }}:border-slate-50"
                                   for="chart_rb_{{ chart_kind.name }}">
                                <img class="join-item"
                                     src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp" />
                                <div class="join-item h-full p-2 pb-2">
                                    <h2 class="card-title pb-1">{{ chart_kind.name }}</h2>
                                    <p class="label-text">{{ chart_kind.description }}</p>
                                </div>
                            </label>
                        {% endfor %}
                    </div>
                    <div class="flex space-x-1 absolute left-0 bottom-0 p-10 align-middle">
                        <label class="form-control inline align-middle">
                            <div class="label">
                                <span class="label-text">Choose input table</span>
                            </div>
                            <select id="chart-src-selector"
                                    name="chart_src_selector"
                                    class="select select-bordered">
                                <option disabled selected></option>
                                {% for fd in files %}<option value="{{ fd[0] }}">{{ fd[1].name }}</option>{% endfor %}
                            </select>
                        </label>
                        <button class="btn inline align-middle">Create</button>
                    </div>
                </form>
            </div>
        </dialog>
    </body>
</html>
