<table id="{{ html_id }}" class="dataframe table">
    <thead>
        <tr>
            {% for colname in colnames %}<th>{{ colname }}</th>{% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in rows %}
            {% set outer_loop = loop %}
            <tr>
                {% for val in row %}<td>{{ val }}</td>{% endfor %}
                {% for action in row_actions %}
                    <td>
                        <button class="btn btn-ghost btn-xs"
                                hx-post="{{ action.endpoint }}?file_idx={{ outer_loop.index0 }}"
                                hx-target="#files-table-container"
                                hx-swap="innerHTML">{{ action.text }}</button>
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
