<div id="sidebar-charts-list" hx-swap-oob="outerHTML">
    {% for chart in charts %}
        <li>
            <a hx-get="pages/chart?chart_id={{ chart[0] }}"
               hx-target="#page-contents"
               hx-swap="innerHTML"
               hx-on--after-request="document.getElementById('drawer-overlay').click()">{{ chart[1].name }}</a>
        </li>
    {% endfor %}
</div>
