<div id="graph-controls-container" class="flex flex-row space-x-4">
    <button id="full-clear-btn"
            class="btn btn-outline"
            hx-post="/files/clear"
            hx-swap="none"
            hx-indicator="#file-upload-progress">Clear</button>
    <div id="table-controls" class="flex join">
        <form id="file-upload-form"
              class="join-item"
              hx-encoding="multipart/form-data"
              hx-post="/files/upload"
              hx-swap="none"
              hx-indicator="#file-upload-progress">
            <input type="file"
                   name="uploaded_file"
                   class="join-item file-input file-input-bordered file-input-md" />
            <button class="btn btn-outline">Upload</button>
        </form>
        <span id="file-upload-progress"
              class="htmx-indicator loading loading-ring loading-md join-item"></span>
    </div>
    <div id="analysis-controls" class="flex join">
        <button class="btn btn-outline join-item" onclick="modal_filter.showModal();">Filter</button>
        <button class="btn btn-outline join-item"
                onclick="modal_calculate.showModal();">Calculate</button>
        <button class="btn btn-outline join-item"
                onclick="modal_aggregate.showModal();">Aggregate</button>
        <button class="btn btn-outline join-item" onclick="modal_join.showModal();">Join</button>
    </div>
    <div id="chart-controls" class="flex join">
        <button class="btn btn-outline join-item"
                onclick="modal_new_chart.showModal();">Chart</button>
    </div>
</div>
<dialog id="modal_filter" class="modal">
    <div class="modal-box w-11/12 max-w-5xl">
        <h3 class="text-lg font-bold">New Filter Node</h3>
        <div class="modal-action">
            <form method="dialog">
                <button id="filter-modal-close-btn"
                        class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         viewBox="0 0 24 24"
                         fill="none"
                         stroke="currentColor"
                         stroke-linecap="round"
                         stroke-linejoin="round"
                         style="--darkreader-inline-stroke: currentColor;"
                         data-darkreader-inline-stroke=""
                         width="24"
                         height="24"
                         stroke-width="2">
                        <path d="M18 6l-12 12"></path>
                        <path d="M6 6l12 12"></path>
                    </svg>
                </button>
            </form>
        </div>
        <div class="divider my-1"></div>
        <form hx-post="/graph/create_filter_node" hx-swap="none">
            <label class="form-control w-full max-w-xs mb-4">
                <div class="label">
                    <span class="label-text">Choose input table</span>
                </div>
                <select id="new-filter-src-selector"
                        class="select select-bordered"
                        name="new_filter_src"
                        hx-get="/fragments/gc_filter_src"
                        hx-ext="multi-swap"
                        hx-swap="multi:#gc-filter-src:outerHTML">
                    <option disabled selected></option>
                    {% for fd in files %}<option value="{{ fd[0] }}">{{ fd[1].name }}</option>{% endfor %}
                </select>
            </label>
            <div>
                <div id="new_filter_predicates_lst">
                    {% block filter_pred_row %}
                        <div class="flex flex-row space-x-1">
                            {% block gc_filter_src %}
                                <label id="gc-filter-src" class="form-control w-full max-w-xs">
                                    <div class="label">
                                        <span class="label-text">Choose column for filter</span>
                                    </div>
                                    <select class="select select-bordered" name="gc_filter_src">
                                        {% for col in gc_filter_src %}<option>{{ col }}</option>{% endfor %}
                                    </select>
                                </label>
                            {% endblock %}
                            <label class="form-control w-full max-w-xs">
                                <div class="label">
                                    <span class="label-text">Choose operation</span>
                                </div>
                                <select id="new-filter-op-selector"
                                        class="select select-bordered"
                                        name="new_filter_op">
                                    <option disabled selected></option>
                                    {% for filter_op in filter_ops %}<option>{{ filter_op }}</option>{% endfor %}
                                </select>
                            </label>
                            <label class="form-control w-full max-w-xs">
                                <div class="label">
                                    <span class="label-text">Comparison value</span>
                                </div>
                                <input type="text"
                                       name="new_filter_comp"
                                       placeholder="Type here"
                                       class="input input-bordered w-full max-w-xs" />
                            </label>
                        </div>
                    {% endblock %}
                </div>
                <label id="btn_new_filter_add_predicate"
                       class="btn btn-ghost mt-2"
                       hx-get="/fragments/new_filter_predicate"
                       hx-vals="js:{chosen_table_id: document.getElementById('new-filter-src-selector').value }"
                       hx-swap="beforeend"
                       hx-target="#new_filter_predicates_lst">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         viewBox="0 0 24 24"
                         fill="none"
                         stroke="currentColor"
                         stroke-linecap="round"
                         stroke-linejoin="round"
                         width="24"
                         height="24"
                         stroke-width="2"
                         style="--darkreader-inline-stroke: currentColor;"
                         data-darkreader-inline-stroke="">
                        <path d="M12 5l0 14"></path>
                        <path d="M5 12l14 0"></path>
                    </svg>
                </label>
            </div>
            <div class="divider my-1"></div>
            <button class="btn"
                    onclick="document.getElementById("
                    filter-modal-close-btn
                    "
                    .click
                    ">Create</button>
        </form>
    </div>
</dialog>
<dialog id="modal_calculate" class="modal">
    <div class="modal-box w-11/12 max-w-5xl">
        <h3 class="text-lg font-bold">New Calculate Node</h3>
        <div class="modal-action">
            <form method="dialog">
                <!-- if there is a button, it will close the modal -->
                <button id="calculate-modal-close-btn"
                        class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         viewBox="0 0 24 24"
                         fill="none"
                         stroke="currentColor"
                         stroke-linecap="round"
                         stroke-linejoin="round"
                         style="--darkreader-inline-stroke: currentColor;"
                         data-darkreader-inline-stroke=""
                         width="24"
                         height="24"
                         stroke-width="2">
                        <path d="M18 6l-12 12"></path>
                        <path d="M6 6l12 12"></path>
                    </svg>
                </button>
            </form>
        </div>
        <div class="divider my-1"></div>
        <form hx-post="/graph/create_calculate_node" hx-swap="none">
            <div class="divider my-1"></div>
            <button class="btn"
                    onclick="document.getElementById("
                    calculate-modal-close-btn
                    "
                    .click
                    ">Create</button>
        </form>
    </div>
</dialog>
<dialog id="modal_aggregate" class="modal">
    <div class="modal-box w-11/12 max-w-5xl">
        <h3 class="text-lg font-bold">New Aggregate Node</h3>
        <div class="modal-action">
            <form method="dialog">
                <!-- if there is a button, it will close the modal -->
                <button id="aggregate-modal-close-btn"
                        class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         viewBox="0 0 24 24"
                         fill="none"
                         stroke="currentColor"
                         stroke-linecap="round"
                         stroke-linejoin="round"
                         style="--darkreader-inline-stroke: currentColor;"
                         data-darkreader-inline-stroke=""
                         width="24"
                         height="24"
                         stroke-width="2">
                        <path d="M18 6l-12 12"></path>
                        <path d="M6 6l12 12"></path>
                    </svg>
                </button>
            </form>
        </div>
        <div class="divider my-1"></div>
        <form hx-post="/graph/create_aggregate_node" hx-swap="none">
            <div class="divider my-1"></div>
            <button class="btn"
                    onclick="document.getElementById("
                    aggregate-modal-close-btn
                    "
                    .click
                    ">Create</button>
        </form>
    </div>
</dialog>
<dialog id="modal_join" class="modal">
    <div class="modal-box w-11/12 max-w-5xl">
        <h3 class="text-lg font-bold">New Join Node</h3>
        <div class="modal-action">
            <form method="dialog">
                <!-- if there is a button, it will close the modal -->
                <button id="join-modal-close-btn"
                        class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         viewBox="0 0 24 24"
                         fill="none"
                         stroke="currentColor"
                         stroke-linecap="round"
                         stroke-linejoin="round"
                         style="--darkreader-inline-stroke: currentColor;"
                         data-darkreader-inline-stroke=""
                         width="24"
                         height="24"
                         stroke-width="2">
                        <path d="M18 6l-12 12"></path>
                        <path d="M6 6l12 12"></path>
                    </svg>
                </button>
            </form>
        </div>
        <div class="divider my-1"></div>
        <form hx-post="/graph/create_join_node" hx-swap="none">
            <div class="divider my-1"></div>
            <button class="btn"
                    onclick="document.getElementById("
                    join-modal-close-btn
                    "
                    .click
                    ">Create</button>
        </form>
    </div>
</dialog>
<div id="graph-container" class="w-full h-[70%] pt-4"></div>
<script>window.graphData = {{ graph_json | tojson }};</script>
