<!-- TODO: Use hx-progress to show spinner for slow aggregations/chart renders -->
<div id="chart-page-contianer">
    <div class="flex flex-row">
        <h3>{{ chart.name }}</h3>
        <div class="badge badge-outline">{{ chart.subkind }}</div>
    </div>
    <div id="chart-controls-and-plot-container">{% include 'fragment_chart_controls_and_plot.jinja' %}</div>
</div>
