<div id="dataflow-page-contianer" class="h-full w-full">
    <div id="graph-controls-container" class="flex flex-row space-x-4">
        <button id="full-clear-btn"
                class="btn btn-outline"
                hx-post="/files/clear"
                hx-swap="none"
                hx-indicator="#file-upload-progress">Clear</button>
        <div id="table-controls" class="flex join">
            <form id="file-upload-form"
                  class="join-item"
                  hx-encoding="multipart/form-data"
                  hx-post="/files/upload"
                  hx-swap="none"
                  hx-indicator="#file-upload-progress">
                <input type="file"
                       name="uploaded_file"
                       class="join-item file-input file-input-bordered file-input-md" />
                <button class="btn btn-outline">Upload</button>
            </form>
            <span id="file-upload-progress"
                  class="htmx-indicator loading loading-ring loading-md join-item"></span>
        </div>
        <div id="analysis-controls" class="flex join">
            <button class="btn btn-outline join-item" onclick="modal_filter.showModal();">Filter</button>
            <button class="btn btn-outline join-item"
                    onclick="modal_calculate.showModal();">Calculate</button>
            <button class="btn btn-outline join-item"
                    onclick="modal_aggregate.showModal();">Aggregate</button>
            <button class="btn btn-outline join-item" onclick="modal_join.showModal();">Join</button>
        </div>
        <div id="chart-controls" class="flex join">
            <button class="btn btn-outline join-item"
                    onclick="modal_new_chart.showModal();">Chart</button>
        </div>
    </div>
    <div id="graph-container" class="w-full h-[70%] pt-4"></div>
    <script>
    window.graphData = {{ graph_json | tojson }};
    {% if theme %}window.theme = "{{ theme }}";{% endif %}
    </script>
</div>
