<form id="file-upload-form"
      hx-encoding="multipart/form-data"
      hx-post="/file_upload"
      hx-target="#files-table-container"
      hx-swap="innerHTML">
    <input type="file"
           name="uploaded_file"
           class="file-input file-input-bordered w-full max-w-xs" />
    <button class="btn">Upload</button>
    <progress id="file-upload-progress"
              class="progress progress-primary w-80"
              value="0"
              max="100"></progress>
</form>
<script>
  htmx.on("#file-upload-form", "htmx:xhr:progress", function (evt) {
    htmx
      .find("#file-upload-progress")
      .setAttribute("value", (evt.detail.loaded / evt.detail.total) * 100);
  });
</script>
<div id="files-table-container" class="overflow-x-auto p-8">{{ files_table|safe }}</div>
