{{ chart.name }}
{{ chart.chart_type }}
{{ chart.aes.x }}
{{ chart.aes.y }}
<div id="app-plot-container">
  {{ actual_chart|safe }}
</div>
HEREEEE
<!-- <div id="types-selection-container" class="pb-4"> -->
<!--   <label class="form-control w-full max-w-xs"> -->
<!--     <!-- <div class="label"> --> -->
<!--     <!--   <span class="label-text">Choose table</span> --> -->
<!--     <!-- </div> --> -->
<!--     <select -->
<!--       id="types-selector" -->
<!--       name="types_selector" -->
<!--       hx-get="/types_table" -->
<!--       hx-target="#types-table" -->
<!--       hx-swap="innerHTML" -->
<!--       class="select select-bordered" -->
<!--     > -->
<!--       <option disabled selected>Choose table...</option> -->
<!--       {% for fd in files %} -->
<!--       <option value="{{ loop.index0 }}">{{ fd.name }}</option> -->
<!--       {% endfor %} -->
<!--     </select> -->
<!--   </label> -->
<!-- </div> -->
<!-- <div id="types-table"></div> -->

