<div id="graph-controls-container" class="flex">
    <button class="btn btn-outline" onclick="modal_filter.showModal();">Filter</button>
    <dialog id="modal_filter" class="modal">
        <div class="modal-box w-11/12 max-w-5xl">
            <h3 class="text-lg font-bold">New Filter Node</h3>
            <p class="py-4">Click the button below to close</p>
            <div class="modal-action">
                <form method="dialog">
                    <!-- if there is a button, it will close the modal -->
                    <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
                    <button class="btn">Close</button>
                </form>
            </div>
        </div>
    </dialog>
    <button class="btn btn-outline" onclick="modal_calculate.showModal();">Calculate</button>
    <dialog id="modal_calculate" class="modal">
        <div class="modal-box w-11/12 max-w-5xl">
            <h3 class="text-lg font-bold">New Calculate Node</h3>
            <p class="py-4">Click the button below to close</p>
            <div class="modal-action">
                <form method="dialog">
                    <!-- if there is a button, it will close the modal -->
                    <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
                    <button class="btn">Close</button>
                </form>
            </div>
        </div>
    </dialog>
    <button class="btn btn-outline" onclick="modal_aggregate.showModal();">Aggregate</button>
    <dialog id="modal_aggregate" class="modal">
        <div class="modal-box w-11/12 max-w-5xl">
            <h3 class="text-lg font-bold">New Aggregate Node</h3>
            <p class="py-4">Click the button below to close</p>
            <div class="modal-action">
                <form method="dialog">
                    <!-- if there is a button, it will close the modal -->
                    <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
                    <button class="btn">Close</button>
                </form>
            </div>
        </div>
    </dialog>
    <button class="btn btn-outline" onclick="modal_join.showModal();">Join</button>
    <dialog id="modal_join" class="modal">
        <div class="modal-box w-11/12 max-w-5xl">
            <h3 class="text-lg font-bold">New Join Node</h3>
            <p class="py-4">Click the button below to close</p>
            <div class="modal-action">
                <form method="dialog">
                    <!-- if there is a button, it will close the modal -->
                    <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
                    <button class="btn">Close</button>
                </form>
            </div>
        </div>
    </dialog>
</div>
<div id="graph-container" class="w-full h-full"></div>
<script>window.graphData = {{ graph_json | tojson }};</script>
