<div id="types-selection-container" class="pb-4">
    <label class="form-control w-full max-w-xs">
        <select id="types-selector"
                name="types_selector"
                hx-get="/fragments/types_table"
                hx-target="#types-table-container"
                hx-swap="innerHTML"
                class="select select-bordered">
            <option disabled selected>Choose table...</option>
            {% for fd in files %}<option value="{{ loop.index0 }}">{{ fd.name }}</option>{% endfor %}
        </select>
    </label>
</div>
<div id="types-table-container"></div>
